//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;

//variables de fuentes
$poppins: Poppins;
$playfair: Playfair Display;

//variables de color
$black: #424241;
$silver: #9E9D9B;
$light-silver: #DEDAD5;
$white: #FAF8F5;